<h1>{{title}}</h1>
<div class="row">
<input type="button" value="Go Back" (click)="goToHomePage()">
</div>
<div class="container">
    <form (ngSubmit)="updateProduct(productForm)" #productForm="ngForm">
      <div class="row">
        <div class="col-75">
          <input type="text" id="pid" name="id" [(ngModel)]="product.id" hidden>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="pname">Product Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="pname" name="name" placeholder="Product Name.." [(ngModel)]="product.name">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="amount">Amount</label>
        </div>
        <div class="col-75">
          <input type="text" id="amount" name="amount" placeholder="Amount.." [(ngModel)]="product.amount">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="category">Category</label>
        </div>
        <div class="col-75">
          <select [(ngModel)]="product.category" name="category" id="category">
            <option *ngFor="let category of categories" value= {{category.value}}>
               {{category.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="description">description</label>
        </div>
        <div class="col-75">
          <textarea id="description" name="description" placeholder="Write something.." style="height:200px" [(ngModel)]="product.description"></textarea>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
